<header class="w-full sticky top-0 z-40 bg-white/80 backdrop-blur border-b border-slate-100">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 h-16 flex items-center justify-between">
    <a routerLink="/" class="flex items-center gap-2">
      <div class="text-3xl font-extrabold text-emerald-500/80 font-sans italic">Lama</div>
    </a>

    <div class="md:flex items-center gap-8 text-sm font-medium text-gray-700">
      @if (isAuthenticated()) {
      <div class="flex items-center gap-6">
        <span class="text-gray-600 hidden sm:inline"
          >Welcome,
          <span class="font-semibold text-gray-900">{{ currentUser()?.firstName }}</span>
        </span>
      </div>

      <button
        (click)="logout()"
        class="w-full text-left px-4 py-2 text-sm text-red-600 hover:bg-red-50 transition-colors"
      >
        Logout
      </button>
      } @else {
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Get Started</a>
      }
    </div>
  </div>
</header>
