<section class="relative overflow-hidden">
  <div class="max-w-7xl mx-auto px:4 sm:px-6 lg:px-8 py-20">
    <div class="mx-auto text-center max-w-6xl">
      <h1
        class="text-4xl sm:text-5xl md:text-6xl font-extrabold tracking-tight text-brand-dark font-sans"
      >
        Connect with expert mentors
      </h1>
      <div class="max-w-3xl mx-auto">
        <p class="mt-5 text-xs sm:text-base text-brand-light font-sans">
          Join thousands of professionals who have transformed their careers through personalized
          mentorship. Find your perfect mentor and unlock your potential.
        </p>
      </div>
      <div class="mt-13 flex flex-col sm:flex-row gap-4 justify-center">
        <a
          routerLink="/"
          class="bg-brand-blue hover:bg-brand-dark-blue text-white font-bold py-2 px-4 rounded-xl"
          >Find a Mentor</a
        >
        <a
          routerLink="/"
          class="bg-brand-green hover:bg-brand-dark-green text-white font-semibold hover:text-white py-2 px-4 hover:border-transparent rounded-xl transition-all"
          >Become a Mentor</a
        >
      </div>
    </div>
  </div>
</section>
